USE [master]
GO
/****** Object:  Database [DoTungDuong_2310900027]    Script Date: 7/2/2025 10:48:31 AM ******/
CREATE DATABASE [DoTungDuong_2310900027]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoTungDuong_2310900027', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoTungDuong_2310900027.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoTungDuong_2310900027_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoTungDuong_2310900027_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoTungDuong_2310900027].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoTungDuong_2310900027]
GO
/****** Object:  Table [dbo].[DtdEmployee]    Script Date: 7/2/2025 10:48:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DtdEmployee](
	[dtdEmpId] [int] NOT NULL,
	[dtdEmpName] [nvarchar](100) NULL,
	[dtdEmpLevel] [nvarchar](50) NULL,
	[dtdEmpStartDate] [date] NULL,
	[dtdEmpStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[dtdEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
