@{
    ViewData["Title"] = "Thong tin cua Sinh vien Do Tung Duong ";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Mã Sinh viên : 2310900027</p>
    <p>Họ và tên : Đỗ Tùng Dương</p>
    <p>Email: atgdotungduong@gmail.com</p>
    <p>SĐT:0375526086</p>
    <p>Class:K23CNT3</p>
</div>