@{
    ViewData["Title"] = "Thong tin Sinh vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>MSV:2310900027</p>
    <p>Name:DO Tung Duong</p>
    <p>email:atgdotungduong@gmail.com</p>
</div>